@font-face {
    font-family: "titillium-regular";
    src: url('../assets/fonts/TitilliumWeb-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "titillium-semibold";
    src: url('../assets/fonts/TitilliumWeb-SemiBold.ttf') format("truetype");
}
